.app {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    max-width: 25rem;
    padding: 2rem;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
}